extends layout

block content
	.container
		

		button.btn.btn-primary#loginButton(type='button', data-toggle='modal', data-target='.bs-example-modal-lg') Log in
			//- .modal.fade.bs-example-modal-lg(tabindex='-1', role='dialog', aria-labelledby='myLargeModalLabel', aria-hidden='true')
			//- 	.modal-dialog.modal-lg
			//- 		.modal-content
			//- 			.modal-header 
			//- 			.modal-body
			//- 				h1 Existing Users
			//- 				form(action="/auth/login", method="post")
			//- 					input(type="text", name="username", placeholder="Username")
			//- 					input(type="password", name="password", placeholder="Password")
			//- 					input(type="submit")

			//- 				h1 Register
			//- 				form(action="/auth/signup", method="post")
			//- 					input(type="text", name="username", placeholder="Username")
			//- 					input(type="email", name="email", placeholder="Email")
			//- 					input(type="password", name="password", placeholder="Password")
			//- 					input(type="submit")
		
		.page-header
			h1 Welcome to my page
		nav#navbar.navbar.navbar-default.navbar-fixed-to-top.navbar-inverse
			.container-nav
				.navbar-header
				form.form-inline
				#bs-example-navbar-collapse-1.collapse.navbar-collapse
					ul.nav.navbar-nav
						li.active
							a(href='/') Home
						li
							a(href='/mapshome') Trips
						