extends layout

block content
	if error
		h3= error

	.main-container
		.top-container
			a(href='/profile') log in
		nav#navbar.navbar.navbar-default.navbar-fixed-to-top
			.container-nav
				.navbar-header
				form.form-inline
				#bs-example-navbar-collapse-1.collapse.navbar-collapse
					ul.nav.navbar-nav
						li
							a(href='/') Home
						li
							a(href='/mapshome') Trips	
		.login-container
			h3 Existing Users
			form(action="/auth/login", method="post")
				input(type="text", name="username", placeholder="Username")
				input(type="password", name="password", placeholder="Password")
				input(type="submit")

			h3 Register
			form(action="/auth/signup", method="post")
				input(type="text", name="username", placeholder="Username")
				input(type="email", name="email", placeholder="Email")
				input(type="password", name="password", placeholder="Password")
				input(type="submit")
		.image-container
